services:
  minio:
    image: minio/minio:RELEASE.2024-01-18T22-51-28Z
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file:
      - .env
    volumes:
      - minio_data:/data

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.11.1
    command:
      - /bin/sh
      - -c
      - |
        mlflow server \
          --host 0.0.0.0 \
          --port 5000 \
          --backend-store-uri sqlite:////mlflow/mlflow.db \
          --default-artifact-root /mlflow/artifacts
    ports:
      - "5000:5000"
    volumes:
      - mlflow_data:/mlflow

volumes:
  minio_data:
  mlflow_data:
